<%layout('layouts/boilerplate')%>
<% block('head').append('<title>Category</title>') %>
<% block('head').append('<link rel="stylesheet" href="../styles/about.css" />') %>
<h1 class="w-auto h-auto" style="background-color:<%=foundCategory[0].backgroundColor%>">
    <%=foundCategory[0].name%> Category
</h1>
<div class="container">
    <h2>Services</h2>
    <% foundServices.forEach(service=> { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%= service.imageLocation %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=service.name%>
                        </h5>
                        <p class="card-text">
                            <%=service.description %>
                        </p>
                        <a class="btn btn-primary" href="/services/<%=foundCategory[0].id %>/<%=service.id%>">View Providers</a>
                    </div>
                </div>
            </div>
        </div>
    <%}) %>
</div>


