<%layout('layouts/boilerplate')%>
   <% block('head').append('<title>Service</title>') %>
   <% block('head').append('<link rel="stylesheet" href="/styles/providers.css" />') %>


<h1><%=service %></h1>
<div class="container">
    <h2>Providers</h2>
    <a href="/services/<%=category %>" class="link-dark">Back to <%=category %></a>
    <% foundService[0].providers.forEach(provider=> { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=provider.firstName%>
                            <%=provider.lastName %>
                        </h5>
                        <p class="card-text">
                            <%=provider.info%>
                        </p>
                        <a class="btn btn-primary" href="#">Show Details</a>
                    </div>
                </div>
            </div>
        </div>
    <%}) %>
</div>


