<%layout('layouts/boilerplate')%>
   <% block('head').append('<title>Service</title>') %>
   <% block('head').append('<link rel="stylesheet" href="/styles/providers.css" />') %>


<h1>
    <%=service %>
</h1>
<h2>
    Providers
</h2>
<ul>
    <% foundProviders.forEach(provider=> { %>
        <li>
            <%=provider.firstName%>
                <%=provider.lastName %>
        </li>
        <%}) %>
</ul>
<div>
    <a href="/services/<%=category %>">Back to <%=category %></a>
</div>
<div>
    <a href="/services">Back to Services</a>
</div>
